version: "3.7"

services:

  app_proxy:
    environment:
      # The format here is: <app-id>_<docker-service-name>_1
      APP_HOST: sparkles-hello-world_server_1
      APP_PORT: 3000
    
  server:
    image: lscr.io/linuxserver/kicad:latest
    user: "1000:1000"
    restart: unless-stopped
    hostname: "${DEVICE_HOSTNAME}"
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${UMBREL_ROOT}/data/storage/KiCad:/KiCad

  
